body {
    font-family:Arial;
    background-color:White;
    color:Black;
}
h1 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.625em;
}
h2 {
    margin-bottom:0px;
    padding-bottom:0px;
    font-size:1.25em;
}
span.int {
    font-weight:bold;
    color:#003E69;
}
span.sym_p {
    font-weight:normal;
}
hr {
    color:Black;
    background-color:Black;
    height:1px;
    border:0;
}
span.comm {
    color:#888888;
}
span.str {
    color:#FF00FF;
}
span.var {
    color:Black;
    font-style:italic;
}
span.prepr {
    color:Green;
}
span.type {
    color:Brown;
}
span.keyw {
    font-weight:bold;
}
span.num {
    color:Blue;
}
span.targ {
    color:Red;
}
td.targ {
    background-color:#FFD1D1
}
span.nowrap {
    white-space:nowrap;
}
span.attr {
    color:#333333;
    font-weight:100;
}
span.color_p {
    font-style:italic;
    color:Brown;
}
span.param {
    font-style:italic;
}
span.focus_p {
    font-style:italic;
    color:Red;
}
span.yellow {
    background-color:#FFFFD6;
}
pre {
    padding: 0;
    margin: 0;
    word-wrap:break-word;
    white-space: pre-wrap;
}
table.test_view {
    cursor:text;
    margin-top:7px;
    font-family:Monaco, Consolas, 'DejaVu Sans Mono', 'Droid Sans Mono', Monospace;
    font-size:14px;
    padding:0px;
    border:1px solid Black;
    color:#444444;
    background-color:White;
    overflow:auto;
}
table.test_view th {
    background-color:White;
    padding-right:3px;
    padding-left:3px;
    text-align:right;
    font-weight:100;
    padding:0px 4px 0px 10px;
    vertical-align:top;
}
table.test_view td {
    padding-left:15px;
    text-align:left;
    word-wrap:break-word;
    max-width:900px;
    padding:0px 15px 0px 15px;
}
table.summary {
    border-collapse:collapse;
    border:1px outset black;
}
table.summary th {
    background-color:#eeeeee;
    font-weight:100;
    text-align:left;
    font-size:0.94em;
    white-space:nowrap;
    border:1px inset black;
    padding: 1px 2px 1px 2px;
}
table.summary td {
    text-align:left;
    white-space:nowrap;
    border:1px inset black;
    padding: 1px 2px 1px 2px;
}
.footer {
    font-size:0.75em;
}